@use 'sass:map';
@use '@fairylights-studio/navigation-common/m3-utils' as m3-utils;
@use '@fairylights-studio/navigation-common/m3-system' as m3;

@function get-tokens($theme: m3.$sys-theme) {
  $system: m3-utils.get-system($theme);

  @return (
    base: (
      nav-bar-container-height: 80px,
      nav-bar-container-horizontal-height: 64px,
      nav-bar-item-icon-wrapper-width: 56px,
      nav-bar-item-icon-wrapper-height: 32px,
      nav-bar-item-icon-wrapper-shape: 16px,
      nav-bar-item-min-width: 88px,
      nav-bar-item-horizontal-width: 168px,
      nav-bar-item-horizontal-height: 64px,
      nav-bar-item-horizontal-indicator-shape: 20px,
      nav-bar-item-horizontal-indicator-height: 40px,
      nav-bar-item-horizontal-padding: 0 20px,
      nav-bar-item-label-spacing: 4px,
      nav-bar-item-label-max-width: 150px,
      nav-bar-item-label-container-height: 16px,
      nav-bar-item-container-z-index: 100,
    ),
    color: (
      nav-bar-container-background-color: map.get($system, surface-container),
      nav-bar-item-icon-color: map.get($system, on-surface-variant),
      nav-bar-item-active-icon-color: map.get($system, on-secondary-container),
      nav-bar-item-label-color: map.get($system, on-surface-variant),
      nav-bar-item-active-label-color: map.get($system, on-surface),
      nav-bar-item-indicator-color: map.get($system, secondary-container),
      nav-bar-item-disabled-opacity: 0.38,
    ),
    typography: (
      nav-bar-item-label-font: map.get($system, typescale-label-large-font),
      nav-bar-item-label-size: map.get($system, typescale-label-large-size),
      nav-bar-item-label-weight: map.get($system, typescale-label-large-weight),
      nav-bar-item-label-line-height: map.get($system, typescale-label-large-line-height),
      nav-bar-item-label-letter-spacing: map.get($system, typescale-label-large-letter-spacing),
    ),
    density: ()
  );
}
