@use '@angular/material' as mat;

@mixin scaffold-color($theme) {
  --nav-suite-scaffold-container-color: #{mat.get-theme-color($theme, surface)};
  --nav-suite-bar-container-color: #{mat.get-theme-color($theme, surface-container)};
  --nav-suite-bar-content-color: #{mat.get-theme-color($theme, on-surface)};
  --nav-suite-rail-container-color: #{mat.get-theme-color($theme, surface)};
  --nav-suite-rail-content-color: #{mat.get-theme-color($theme, on-surface)};
  --mat-navigation-suite-scaffold-container-color: var(--nav-suite-scaffold-container-color);
}

@mixin scaffold-theme($theme) {
  @include scaffold-color($theme);
}

@mixin theme($theme) {
  @include scaffold-theme($theme);
}
